html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

body {
	font-family: "Nunito", sans-serif;
	font-style: normal;

	--website-background-light: #ffffff;
	--text-color-1: black;
	--website-background-dark: #313a46;
	--website-nav-dark: #38414c;
	--text-color-2: white;
}

nav {
	background-color: var(--website-nav-dark);
}

#content {
	background-color: var(--website-background-light);
}

::-webkit-scrollbar {
	display: none;
}

