html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

body {
	font-family: "Nunito", sans-serif;
	font-style: normal;

	--nav-background-light: #ffffff;
	--text-color-1: black;
	--website-background-light: #fafbfe;
	--website-nav-dark: #313a46;
	--text-color-2: white;
}

#side_nav {
	background-color: var(--website-nav-dark);
	min-width: 17rem;
}

#content {
	background-color: var(--website-background-light);
	padding: 0;
}

header{
	background-color: var(--nav-background-light);
	box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
	padding: 0;
}

header > nav {
	padding: 0;
	display: grid;
	align-items: center;
}

#header_search {
	height: calc(1.5em + .9rem + calc(1px * 2));
	padding: 0;
	padding-left: 2rem;
	outline: none;
	border: 0;
	border-top-left-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
	background-color: #f0f3f8;
}

#search_button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

main {
	background-color: var(--website-background-light);
}

::-webkit-scrollbar {
	display: none;
}

.accordion-button:not(.collapsed) {
	color: inherit;
	box-shadow: none;
}

